<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>
        .header {
            background-color: black;
            text-align: center;
            padding: 20px 0; /* Adicione margem superior e inferior para espaço em branco */
        }

            .header h1 {
                color: white; /* Cor do texto branco */
            }

        .developers {
            display: flex;
            justify-content: space-between;
            margin: 20px 0; /* Adicione margem superior e inferior para os desenvolvedores */
        }

        .developer {
            flex: 1;
            text-align: center;
            padding: 10px; /* Adicione margem interna para os desenvolvedores */
        }

            .developer h3, .developer p {
                margin: 10px 0; /* Adicione margem superior e inferior para os textos dos desenvolvedores */
            }

        h2 {
            text-align: center; /* Centralize todos os títulos h2 */
        }
    </style>
    <title>Nosso Site</title>
</head>
<body>
    <header class="header">
        <h1>Bem-vindo ao Nosso Site</h1>
    </header>
    <br />
    <section id="about">
        <h2>Sobre Nós</h2>
        <p style="margin-left:10%; margin-right:10%; text-align: center;" >Somos apaixonados por tecnologia e inovação. Nosso objetivo é criar soluções web que tornem a vida das pessoas mais fácil e agradável, principalmente nas suas finanças. Este site foi criado com a intenção de ajudar investidores a terem maior controle e organização de seus investimentos.</p>
        <br />
    </section>

    <section id="developers">
        <h2>Nossos Desenvolvedores</h2>
        <div class="developers">
            <div class="developer">
                <img src="fotoDesenvolvedor.jpg" alt="Desenvolvedor 1">
                <h3>Paulo Henrique Tristão</h3>
                <p>Estudante de Engenharia da computação e Estagiario da Patecio.</p>
                <div>
                    <a href="https://instagram.com/paulo_ht2" target="_blank"><img src="https://img.shields.io/badge/-Instagram-%23E4405F?style=for-the-badge&logo=instagram&logoColor=white" target="_blank"></a>
                    <a href="mailto:mattiolli.puertas@gmail.com"><img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/rodrigopuertas" target="_blank"><img src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a>
                </div>
            </div>
            <div class="developer">
                <img src="C:/Users/Rodrigo Puertas/source/repos/MoneyMind/bin/fotoDesenvolvedor.jpg" alt="Desenvolvedor 2">
                <h3>Rodrigo Puertas Matioli</h3>
                <p>Estudante de Engenharia da computação e Estagiario na Vivo.</p>
                <div>
                    <a href="https://instagram.com/rodrigo_mattiolli" target="_blank"><img src="https://img.shields.io/badge/-Instagram-%23E4405F?style=for-the-badge&logo=instagram&logoColor=white" target="_blank"></a>
                    <a href="mailto:mattiolli.puertas@gmail.com"><img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/rodrigopuertas" target="_blank"><img src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
