@model List<MovimentacaoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movimentações</h2>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Operação</th>
                <th>Carteira</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Data</th>

            </tr>
        </thead>
        <tbody>
            @foreach (MovimentacaoViewModel Movimentacao in Model)
            {
                <tr>
                    <td>@Movimentacao.Quantidade</td>
                    <td>@Movimentacao.Preco</td>
                    <td>
                        <a href="/Ativo/Edit?id=@Movimentacao.Id" class="btn btn-primary">Editar</a>
                        <a href="javascript:apagarAtivo(@Movimentacao.Id)" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-right">
        <a href="/Ativo/Create" class="btn btn-success">Adicionar Ativo</a>
    </div>
</div>
