@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutSideBar";
}


<style>
    .imagem-home {
        background-image: url('imagens/MoneyMind.png');
        background-size: cover;
        background-position: center top;
        width: 100vw;
        height: 100vh;
    }
</style>

<div class="text-center">
    <h1 class="display-4">BEM-VINDO @ViewBag.NomePessoa !</h1>
</div>

<div class="imagem-home"></div>

